<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 sm-offset-1 sm-offset-2">
      <form [formGroup]="signForm" (ngSubmit)="onSubmit()">

        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   id="username"
                   formControlName="username"
                   class="form-control">
          </div>
          <span *ngIf="!signForm.get('userData.username').valid && signForm.get('userData.username').touched">
            <span *ngIf="signForm.get('userData.username').errors['s']">Username is invalid!</span>
            <span *ngIf="signForm.get('userData.username').errors['required']">Username is required</span>
          </span>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   id="email"
                   class="form-control"
                    formControlName="email">
          </div>
          <span *ngIf="!signForm.get('userData.email').valid && signForm.get('userData.email').touched">Please Enter Valid Email!</span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender"
              formControlName="gender">{{gender}}
          </label>
        </div>
       <div formArrayName="hobbies">
         <h4>Your Hobbies</h4>
         <button class="btn btn-success" type="button" (click)="onAdd()">Add Hobby</button>
          <br><br>
         <div class="form-group" *ngFor="let hobby of signForm.get('hobbies').controls; let i = index; ">
           <input type="text" class="form-control" [formControlName]="i">
         </div>
       </div><br>

        <div>
           <span *ngIf="!signForm.valid && signForm.touched">
          Please Enter Valid User Data
          </span>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <hr>

</div>

